In [1]:
import pandas as pd
import string
import numpy as np
import nltk
#import untuk mesin learning navie bayes
from sklearn.naive_bayes import MultinomialNB
from sklearn import model_selection
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidTransformer
from sklearn.model_selection import train_test_split
from sklearn.utils.multiclass import unique_labels
from sklearn.preprocessing import  labelBinarizer, OrdinalEncoder , OneHotEncoder

#visualisasi hasil
from sklearn.metrics import classification_report, accuary_score , confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

ImportError: cannot import name 'TfidTransformer' from 'sklearn.feature_extraction.text' (C:\ProgramData\Anaconda3\lib\site-packages\sklearn\feature_extraction\text.py)

In [2]:
import pandas as pd
import string
import numpy as np
import nltk
#import untuk mesin learning navie bayes
from sklearn.naive_bayes import MultinomialNB
from sklearn import model_selection
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidTransformer
from sklearn.model_selection import train_test_split
from sklearn.utils.multiclass import unique_labels
from sklearn.preprocessing import  labelBinarizer, OrdinalEncoder , OneHotEncoder

#visualisasi hasil
from sklearn.metrics import classification_report, accuary_score , confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

ImportError: cannot import name 'TfidTransformer' from 'sklearn.feature_extraction.text' (C:\ProgramData\Anaconda3\lib\site-packages\sklearn\feature_extraction\text.py)

In [3]:
import pandas as pd
import string
import numpy as np
import nltk
#import untuk mesin learning navie bayes
from sklearn.naive_bayes import MultinomialNB
from sklearn import model_selection
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import train_test_split
from sklearn.utils.multiclass import unique_labels
from sklearn.preprocessing import  labelBinarizer, OrdinalEncoder , OneHotEncoder

#visualisasi hasil
from sklearn.metrics import classification_report, accuary_score , confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

ImportError: cannot import name 'labelBinarizer' from 'sklearn.preprocessing' (C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\__init__.py)

In [4]:
import pandas as pd
import string
import numpy as np
import nltk
#import untuk mesin learning navie bayes
from sklearn.naive_bayes import MultinomialNB
from sklearn import model_selection
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidTransformer
from sklearn.model_selection import train_test_split
from sklearn.utils.multiclass import unique_labels
from sklearn.preprocessing import  labelBinarizer , OrdinalEncoder , OneHotEncoder

#visualisasi hasil
from sklearn.metrics import classification_report, accuary_score , confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

ImportError: cannot import name 'TfidTransformer' from 'sklearn.feature_extraction.text' (C:\ProgramData\Anaconda3\lib\site-packages\sklearn\feature_extraction\text.py)

In [5]:
import pandas as pd
import string
import numpy as np
import nltk
#import untuk mesin learning navie bayes
from sklearn.naive_bayes import MultinomialNB
from sklearn import model_selection
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import train_test_split
from sklearn.utils.multiclass import unique_labels
from sklearn.preprocessing import  labelBinarizer , OrdinalEncoder , OneHotEncoder

#visualisasi hasil
from sklearn.metrics import classification_report, accuary_score , confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

ImportError: cannot import name 'labelBinarizer' from 'sklearn.preprocessing' (C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\__init__.py)

In [6]:
import pandas as pd
import string
import numpy as np
import nltk
#import untuk mesin learning navie bayes
from sklearn.naive_bayes import MultinomialNB
from sklearn import model_selection
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import train_test_split
from sklearn.utils.multiclass import unique_labels
from sklearn.preprocessing import  LabelBinarizer , OrdinalEncoder , OneHotEncoder

#visualisasi hasil
from sklearn.metrics import classification_report, accuary_score , confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

ImportError: cannot import name 'accuary_score' from 'sklearn.metrics' (C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\__init__.py)

In [7]:
import pandas as pd
import string
import numpy as np
import nltk
#import untuk mesin learning navie bayes
from sklearn.naive_bayes import MultinomialNB
from sklearn import model_selection
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import train_test_split
from sklearn.utils.multiclass import unique_labels
from sklearn.preprocessing import  LabelBinarizer , OrdinalEncoder , OneHotEncoder

#visualisasi hasil
from sklearn.metrics import classification_report , accuary_score , confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

ImportError: cannot import name 'accuary_score' from 'sklearn.metrics' (C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\__init__.py)

In [8]:
import pandas as pd
import string
import numpy as np
import nltk
#import untuk mesin learning navie bayes
from sklearn.naive_bayes import MultinomialNB
from sklearn import model_selection
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import train_test_split
from sklearn.utils.multiclass import unique_labels
from sklearn.preprocessing import  LabelBinarizer , OrdinalEncoder , OneHotEncoder

#visualisasi hasil
from sklearn.metrics import classification_report , accuaracy_score , confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

ImportError: cannot import name 'accuaracy_score' from 'sklearn.metrics' (C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\__init__.py)

In [9]:
import pandas as pd
import string
import numpy as np
import nltk
#import untuk mesin learning navie bayes
from sklearn.naive_bayes import MultinomialNB
from sklearn import model_selection
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import train_test_split
from sklearn.utils.multiclass import unique_labels
from sklearn.preprocessing import  LabelBinarizer , OrdinalEncoder , OneHotEncoder

#visualisasi hasil
from sklearn.metrics import classification_report, accuracy_score , confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
file csv ='bankfull.csv'
text = pd.read_csv(filecsv,header = 0, delimiter =';', encoding = 'utf-8')
df = pd.DataFrame(teks)
print(df)

SyntaxError: invalid syntax (<ipython-input-10-1c435afb9136>, line 1)

In [11]:
file csv ='bankfull01.csv'
text = pd.read_csv(filecsv,header = 0, delimiter =';', encoding = 'utf-8')
df = pd.DataFrame(teks)
print(df)

SyntaxError: invalid syntax (<ipython-input-11-758c1e024a20>, line 1)

In [14]:
filecsv ='bankfull01'
text = pd.read_csv(filecsv,header = 0, delimiter =';', encoding = 'utf-8')
df = pd.DataFrame(teks)
print(df)

FileNotFoundError: [Errno 2] File b'bankfull01' does not exist: b'bankfull01'

In [15]:
filecsv = 'bankfull01.csv'
text = pd.read_csv(filecsv,header = 0, delimiter =';', encoding = 'utf-8')
df = pd.DataFrame(teks)
print(df)

NameError: name 'teks' is not defined

In [16]:
filecsv = 'bankfull01.csv'
text = pd.read_csv(filecsv,header = 0, delimiter =';', encoding = 'utf-8')
df = pd.DataFrame(teks)
print(df)

NameError: name 'teks' is not defined

In [18]:
filecsv = 'bankfull01.csv'
teks = pd.read_csv(filecsv,header = 0, delimiter =';', encoding = 'utf-8')
df = pd.DataFrame(teks)
print(df)

      id  age           job   marital  education default  balance housing  \
0      0   58    management   married   tertiary      no     2143     yes
1      1   44    technician    single  secondary      no       29     yes
2      2   33  entrepreneur   married  secondary      no        2     yes
3      3   47   blue-collar   married    unknown      no     1506     yes
4      4   33       unknown    single    unknown      no        1      no
5      5   35    management   married   tertiary      no      231     yes
6      6   28    management    single   tertiary      no      447     yes
7      7   42  entrepreneur  divorced   tertiary     yes        2     yes
8      8   58       retired   married    primary      no      121     yes
9      9   43    technician    single  secondary      no      593     yes
10    10   41        admin.  divorced  secondary      no      270     yes
11    11   29        admin.    single  secondary      no      390     yes
12    12   53    technician   married  secondary      no        6     yes
13    13   58    technician   married    unknown      no       71     yes
14    14   57      services   married  secondary      no      162     yes
15    15   51       retired   married    primary      no      229     yes
16    16   45        admin.    single    unknown      no       13     yes
17    17   57   blue-collar   married    primary      no       52     yes
18    18   60       retired   married    primary      no       60     yes
19    19   33      services   married  secondary      no        0     yes
20    20   28   blue-collar   married  secondary      no      723     yes
21    21   56    management   married   tertiary      no      779     yes
22    22   32   blue-collar    single    primary      no       23     yes
23    23   25      services   married  secondary      no       50     yes
24    24   40       retired   married    primary      no        0     yes
25    25   44        admin.   married  secondary      no     -372     yes
26    26   39    management    single   tertiary      no      255     yes
27    27   52  entrepreneur   married  secondary      no      113     yes
28    28   46    management    single  secondary      no     -246     yes
29    29   36    technician    single  secondary      no      265     yes
..   ...  ...           ...       ...        ...     ...      ...     ...
470  470   44      services  divorced  secondary      no      424     yes
471  471   39     housemaid    single    primary      no      109     yes
472  472   46   blue-collar   married    unknown      no     1044     yes
473  473   39   blue-collar   married  secondary      no      983     yes
474  474   34        admin.   married  secondary      no      869      no
475  475   40   blue-collar   married    primary      no      668     yes
476  476   50    management   married   tertiary      no      964     yes
477  477   31    management    single  secondary      no      301     yes
478  478   37        admin.    single  secondary      no      140     yes
479  479   39    management    single  secondary      no     1877     yes
480  480   51   blue-collar   married    primary      no     1127     yes
481  481   41    technician   married  secondary      no      871     yes
482  482   41    technician   married  secondary      no      767     yes
483  483   43   blue-collar   married  secondary      no        0      no
484  484   30      services    single  secondary      no      209     yes
485  485   54    management  divorced    primary      no        0      no
486  486   43   blue-collar  divorced  secondary      no      110     yes
487  487   59    management  divorced   tertiary      no      -76     yes
488  488   47    technician   married    unknown      no      178     yes
489  489   40   blue-collar   married    primary      no      -66     yes
490  490   32    technician   married  secondary      no        0     yes
491  491   29   blue-collar   married  secondary      no        1     yes
492  492   36   blue-collar   married  secondary      no        0     yes
493  493   55    unemployed   married   tertiary      no     5345      no
494  494   30   blue-collar  divorced  secondary      no     -209     yes
495  495   39        admin.    single  secondary      no        0     yes
496  496   39   blue-collar  divorced  secondary      no       42     yes
497  497   50   blue-collar  divorced  secondary      no       41     yes
498  498   44   blue-collar   married  secondary      no      -99     yes
499  499   37    technician    single  secondary      no       17     yes

    loan  contact  day month  duration  campaign  pdays  previous poutcome  \
0     no  unknown    5   may       261         1     -1         0  unknown
1     no  unknown    5   may       151         1     -1         0  unknown
2    yes  unknown    5   may        76         1     -1         0  unknown
3     no  unknown    5   may        92         1     -1         0  unknown
4     no  unknown    5   may       198         1     -1         0  unknown
5     no  unknown    5   may       139         1     -1         0  unknown
6    yes  unknown    5   may       217         1     -1         0  unknown
7     no  unknown    5   may       380         1     -1         0  unknown
8     no  unknown    5   may        50         1     -1         0  unknown
9     no  unknown    5   may        55         1     -1         0  unknown
10    no  unknown    5   may       222         1     -1         0  unknown
11    no  unknown    5   may       137         1     -1         0  unknown
12    no  unknown    5   may       517         1     -1         0  unknown
13    no  unknown    5   may        71         1     -1         0  unknown
14    no  unknown    5   may       174         1     -1         0  unknown
15    no  unknown    5   may       353         1     -1         0  unknown
16    no  unknown    5   may        98         1     -1         0  unknown
17    no  unknown    5   may        38         1     -1         0  unknown
18    no  unknown    5   may       219         1     -1         0  unknown
19    no  unknown    5   may        54         1     -1         0  unknown
20   yes  unknown    5   may       262         1     -1         0  unknown
21    no  unknown    5   may       164         1     -1         0  unknown
22   yes  unknown    5   may       160         1     -1         0  unknown
23    no  unknown    5   may       342         1     -1         0  unknown
24   yes  unknown    5   may       181         1     -1         0  unknown
25    no  unknown    5   may       172         1     -1         0  unknown
26    no  unknown    5   may       296         1     -1         0  unknown
27   yes  unknown    5   may       127         1     -1         0  unknown
28    no  unknown    5   may       255         2     -1         0  unknown
29   yes  unknown    5   may       348         1     -1         0  unknown
..   ...      ...  ...   ...       ...       ...    ...       ...      ...
470   no  unknown    6   may        27         1     -1         0  unknown
471   no  unknown    6   may       699         3     -1         0  unknown
472   no  unknown    6   may        43         1     -1         0  unknown
473   no  unknown    6   may        97         1     -1         0  unknown
474   no  unknown    6   may      1677         1     -1         0  unknown
475   no  unknown    6   may       283         2     -1         0  unknown
476   no  unknown    6   may       323         1     -1         0  unknown
477   no  unknown    6   may        82         1     -1         0  unknown
478   no  unknown    6   may       310         1     -1         0  unknown
479   no  unknown    6   may       185         1     -1         0  unknown
480   no  unknown    6   may        47         1     -1         0  unknown
481   no  unknown    6   may       145         1     -1         0  unknown
482  yes  unknown    6   may       204         1     -1         0  unknown
483   no  unknown    6   may       187         1     -1         0  unknown
484   no  unknown    6   may        30         2     -1         0  unknown
485   no  unknown    6   may       472         1     -1         0  unknown
486  yes  unknown    6   may       448         1     -1         0  unknown
487  yes  unknown    6   may       264         1     -1         0  unknown
488   no  unknown    6   may       169         1     -1         0  unknown
489   no  unknown    6   may       288         1     -1         0  unknown
490   no  unknown    6   may       176         2     -1         0  unknown
491   no  unknown    6   may       215         1     -1         0  unknown
492   no  unknown    6   may       337         1     -1         0  unknown
493   no  unknown    6   may       278         1     -1         0  unknown
494   no  unknown    6   may       188         2     -1         0  unknown
495   no  unknown    6   may       174         2     -1         0  unknown
496   no  unknown    6   may       226         2     -1         0  unknown
497   no  unknown    6   may       190         1     -1         0  unknown
498   no  unknown    6   may       111         2     -1         0  unknown
499   no  unknown    6   may       164         1     -1         0  unknown

       y
0     no
1     no
2     no
3     no
4     no
5     no
6     no
7     no
8     no
9     no
10    no
11    no
12    no
13    no
14    no
15    no
16    no
17    no
18    no
19    no
20    no
21    no
22    no
23    no
24    no
25    no
26    no
27    no
28    no
29    no
..   ...
470   no
471   no
472   no
473   no
474  yes
475   no
476   no
477   no
478   no
479   no
480   no
481   no
482   no
483   no
484   no
485   no
486   no
487   no
488   no
489   no
490   no
491   no
492   no
493   no
494   no
495   no
496   no
497   no
498   no
499   no

[500 rows x 18 columns]

In [19]:
# input parameter untuk prediksi class
xTarget = df.drop(['id','y'],axis = 1)
print(xTarget)

     age           job   marital  education default  balance housing loan  \
0     58    management   married   tertiary      no     2143     yes   no
1     44    technician    single  secondary      no       29     yes   no
2     33  entrepreneur   married  secondary      no        2     yes  yes
3     47   blue-collar   married    unknown      no     1506     yes   no
4     33       unknown    single    unknown      no        1      no   no
5     35    management   married   tertiary      no      231     yes   no
6     28    management    single   tertiary      no      447     yes  yes
7     42  entrepreneur  divorced   tertiary     yes        2     yes   no
8     58       retired   married    primary      no      121     yes   no
9     43    technician    single  secondary      no      593     yes   no
10    41        admin.  divorced  secondary      no      270     yes   no
11    29        admin.    single  secondary      no      390     yes   no
12    53    technician   married  secondary      no        6     yes   no
13    58    technician   married    unknown      no       71     yes   no
14    57      services   married  secondary      no      162     yes   no
15    51       retired   married    primary      no      229     yes   no
16    45        admin.    single    unknown      no       13     yes   no
17    57   blue-collar   married    primary      no       52     yes   no
18    60       retired   married    primary      no       60     yes   no
19    33      services   married  secondary      no        0     yes   no
20    28   blue-collar   married  secondary      no      723     yes  yes
21    56    management   married   tertiary      no      779     yes   no
22    32   blue-collar    single    primary      no       23     yes  yes
23    25      services   married  secondary      no       50     yes   no
24    40       retired   married    primary      no        0     yes  yes
25    44        admin.   married  secondary      no     -372     yes   no
26    39    management    single   tertiary      no      255     yes   no
27    52  entrepreneur   married  secondary      no      113     yes  yes
28    46    management    single  secondary      no     -246     yes   no
29    36    technician    single  secondary      no      265     yes  yes
..   ...           ...       ...        ...     ...      ...     ...  ...
470   44      services  divorced  secondary      no      424     yes   no
471   39     housemaid    single    primary      no      109     yes   no
472   46   blue-collar   married    unknown      no     1044     yes   no
473   39   blue-collar   married  secondary      no      983     yes   no
474   34        admin.   married  secondary      no      869      no   no
475   40   blue-collar   married    primary      no      668     yes   no
476   50    management   married   tertiary      no      964     yes   no
477   31    management    single  secondary      no      301     yes   no
478   37        admin.    single  secondary      no      140     yes   no
479   39    management    single  secondary      no     1877     yes   no
480   51   blue-collar   married    primary      no     1127     yes   no
481   41    technician   married  secondary      no      871     yes   no
482   41    technician   married  secondary      no      767     yes  yes
483   43   blue-collar   married  secondary      no        0      no   no
484   30      services    single  secondary      no      209     yes   no
485   54    management  divorced    primary      no        0      no   no
486   43   blue-collar  divorced  secondary      no      110     yes  yes
487   59    management  divorced   tertiary      no      -76     yes  yes
488   47    technician   married    unknown      no      178     yes   no
489   40   blue-collar   married    primary      no      -66     yes   no
490   32    technician   married  secondary      no        0     yes   no
491   29   blue-collar   married  secondary      no        1     yes   no
492   36   blue-collar   married  secondary      no        0     yes   no
493   55    unemployed   married   tertiary      no     5345      no   no
494   30   blue-collar  divorced  secondary      no     -209     yes   no
495   39        admin.    single  secondary      no        0     yes   no
496   39   blue-collar  divorced  secondary      no       42     yes   no
497   50   blue-collar  divorced  secondary      no       41     yes   no
498   44   blue-collar   married  secondary      no      -99     yes   no
499   37    technician    single  secondary      no       17     yes   no

     contact  day month  duration  campaign  pdays  previous poutcome
0    unknown    5   may       261         1     -1         0  unknown
1    unknown    5   may       151         1     -1         0  unknown
2    unknown    5   may        76         1     -1         0  unknown
3    unknown    5   may        92         1     -1         0  unknown
4    unknown    5   may       198         1     -1         0  unknown
5    unknown    5   may       139         1     -1         0  unknown
6    unknown    5   may       217         1     -1         0  unknown
7    unknown    5   may       380         1     -1         0  unknown
8    unknown    5   may        50         1     -1         0  unknown
9    unknown    5   may        55         1     -1         0  unknown
10   unknown    5   may       222         1     -1         0  unknown
11   unknown    5   may       137         1     -1         0  unknown
12   unknown    5   may       517         1     -1         0  unknown
13   unknown    5   may        71         1     -1         0  unknown
14   unknown    5   may       174         1     -1         0  unknown
15   unknown    5   may       353         1     -1         0  unknown
16   unknown    5   may        98         1     -1         0  unknown
17   unknown    5   may        38         1     -1         0  unknown
18   unknown    5   may       219         1     -1         0  unknown
19   unknown    5   may        54         1     -1         0  unknown
20   unknown    5   may       262         1     -1         0  unknown
21   unknown    5   may       164         1     -1         0  unknown
22   unknown    5   may       160         1     -1         0  unknown
23   unknown    5   may       342         1     -1         0  unknown
24   unknown    5   may       181         1     -1         0  unknown
25   unknown    5   may       172         1     -1         0  unknown
26   unknown    5   may       296         1     -1         0  unknown
27   unknown    5   may       127         1     -1         0  unknown
28   unknown    5   may       255         2     -1         0  unknown
29   unknown    5   may       348         1     -1         0  unknown
..       ...  ...   ...       ...       ...    ...       ...      ...
470  unknown    6   may        27         1     -1         0  unknown
471  unknown    6   may       699         3     -1         0  unknown
472  unknown    6   may        43         1     -1         0  unknown
473  unknown    6   may        97         1     -1         0  unknown
474  unknown    6   may      1677         1     -1         0  unknown
475  unknown    6   may       283         2     -1         0  unknown
476  unknown    6   may       323         1     -1         0  unknown
477  unknown    6   may        82         1     -1         0  unknown
478  unknown    6   may       310         1     -1         0  unknown
479  unknown    6   may       185         1     -1         0  unknown
480  unknown    6   may        47         1     -1         0  unknown
481  unknown    6   may       145         1     -1         0  unknown
482  unknown    6   may       204         1     -1         0  unknown
483  unknown    6   may       187         1     -1         0  unknown
484  unknown    6   may        30         2     -1         0  unknown
485  unknown    6   may       472         1     -1         0  unknown
486  unknown    6   may       448         1     -1         0  unknown
487  unknown    6   may       264         1     -1         0  unknown
488  unknown    6   may       169         1     -1         0  unknown
489  unknown    6   may       288         1     -1         0  unknown
490  unknown    6   may       176         2     -1         0  unknown
491  unknown    6   may       215         1     -1         0  unknown
492  unknown    6   may       337         1     -1         0  unknown
493  unknown    6   may       278         1     -1         0  unknown
494  unknown    6   may       188         2     -1         0  unknown
495  unknown    6   may       174         2     -1         0  unknown
496  unknown    6   may       226         2     -1         0  unknown
497  unknown    6   may       190         1     -1         0  unknown
498  unknown    6   may       111         2     -1         0  unknown
499  unknown    6   may       164         1     -1         0  unknown

[500 rows x 16 columns]

In [20]:
#target classification dari accepted/rejected loan
yTarget = df['y']
print(yTarget)

0       no
1       no
2       no
3       no
4       no
5       no
6       no
7       no
8       no
9       no
10      no
11      no
12      no
13      no
14      no
15      no
16      no
17      no
18      no
19      no
20      no
21      no
22      no
23      no
24      no
25      no
26      no
27      no
28      no
29      no
      ...
470     no
471     no
472     no
473     no
474    yes
475     no
476     no
477     no
478     no
479     no
480     no
481     no
482     no
483     no
484     no
485     no
486     no
487     no
488     no
489     no
490     no
491     no
492     no
493     no
494     no
495     no
496     no
497     no
498     no
499     no
Name: y, Length: 500, dtype: object

In [22]:
#merubah (encode) nilai yTarget menjadi dua class yaitu 1 atau 0
encoder = LabelBinarizer()
Y = encoder.fit_transform(yTarget)
print(Y)

[[0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]]

In [25]:
tfidf_transformer = OneHotEncoder()
X = tfidf_transformer.fit_transform(xTarget)
print(X)
print(X.shape)

  (0, 36)	1.0
  (0, 44)	1.0
  (0, 53)	1.0
  (0, 57)	1.0
  (0, 59)	1.0
  (0, 389)	1.0
  (0, 411)	1.0
  (0, 412)	1.0
  (0, 414)	1.0
  (0, 415)	1.0
  (0, 417)	1.0
  (0, 598)	1.0
  (0, 742)	1.0
  (0, 747)	1.0
  (0, 748)	1.0
  (0, 749)	1.0
  (1, 22)	1.0
  (1, 49)	1.0
  (1, 54)	1.0
  (1, 56)	1.0
  (1, 59)	1.0
  (1, 123)	1.0
  (1, 411)	1.0
  (1, 412)	1.0
  (1, 414)	1.0
  :	:
  (498, 412)	1.0
  (498, 414)	1.0
  (498, 416)	1.0
  (498, 417)	1.0
  (498, 475)	1.0
  (498, 743)	1.0
  (498, 747)	1.0
  (498, 748)	1.0
  (498, 749)	1.0
  (499, 15)	1.0
  (499, 49)	1.0
  (499, 54)	1.0
  (499, 56)	1.0
  (499, 59)	1.0
  (499, 112)	1.0
  (499, 411)	1.0
  (499, 412)	1.0
  (499, 414)	1.0
  (499, 416)	1.0
  (499, 417)	1.0
  (499, 517)	1.0
  (499, 742)	1.0
  (499, 747)	1.0
  (499, 748)	1.0
  (499, 749)	1.0
(500, 750)

In [27]:
NaiveBayes = MultinominalNB().fit(X_train,np.ravel(y_train,order='C'))
print(NaiveBayes)

NameError: name 'MultinominalNB' is not defined

In [32]:
X_train, X_test, y_train, y_test, = train_test_split(X, Y, test_size = 0.3, random_state = 1)
print(X_train.shape)
print(y_train.shape)   
print(X_test.shape)
print(y_test.shape)

(350, 750)
(350, 1)
(150, 750)
(150, 1)

In [34]:
NaiveBayes = MultinomialNB().fit(X_train,np.ravel(y_train,order='C'))
print(NaiveBayes)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [37]:
prediction = NaiveBayes.predict(X_test)
accuracies = accuracy_score(y_test, prediction)
print(prediction)
print(accuracies)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0]
0.9866666666666667

In [38]:
print(confusion_matrix(y_test,prediction))

[[148   0]
 [  2   0]]

In [ ]:
def plot_confusion_matrix(y_true,y_pred,classes,normalize=False,
                         title=None,
                         cmap=plt.cm.Blues):